body {
    
 background-color:#212326;

    margin: auto;
    position:absolute;
    width:100%;
    display:block;
    
}



.container {
    margin: 25 px;
    position:relative;
   
 
    
}

#workSpace {
    position: relative;
}

#openFile {
    
    background-image: "IWC_BG.png";
}

#pullFront{ 
   z-index: 1;
}
#pullBack {
    z-index: -1;
}





.header {
    border color: aliceblue;
    padding: 5px; 
 background-color:dimgrey;   
}

#headColor {
color: aliceblue;
}
.menuBar {
    background-color: skyblue;
    width:150px;
    height: auto;
    padding: 26px;
    text-align: center;


}

.layerBox {
      background-color: skyblue;


}


.footer {
    margin-top: 0px;
    margin: -21px;
    margin-bottom: 21px;
    text-align: center;
    background-color: cadetblue;
    
}
