body {
    
 background-color:#212326;

    margin: auto;
    position:absolute;
    width:100%;
    display:block;
    
}



.container {
    margin: 25 px;
    position:relative;
   
 
    
}


#workSpace {
    position: relative;


}
#openFile {
    
    position: relative;
}



#pullFront{ 
   z-index: 1;
}
#pullBack {
    z-index: -1;
}





.header {
    text-align: center;
    padding-top: 2px; 
 background-color:dimgrey;   
}

#headColor {
color: white;
}
#subColor {
    color: white;
     text-align: center;
    border color: aliceblue;
    padding-bottom: 10px; 
}
.menuBar {
    background-color:#0f537a; 
    width:150px;
    height: auto;
    padding: 20px;
    margin-top:-17px;
    text-align: center;


}
.menuHover {
    width:150px;
    height: auto;
    text-align: center;

}
.newImgGap {
    padding-top: -20px;
    padding-bottom: px;
}

.triggerGap {
    
    padding-bottom: 5px; 
}

.actionGap {
        padding-top: -10px;
 
}
.smallGap{
    padding: 5px;
    
}

.newImgGapH {
    padding-top: -20px;
    padding-bottom: 25px;
}

.triggerGapH {
    
    padding-bottom: 10px; 
}

.actionGapH {
        padding-top: 0px;
 
}
.smallGapH{
    padding: 5px;
    
}

    
.menuText {
    color: white;
}
.layerText {
    color: white;
}

 .buttonHover  {
	opacity: 0.0;
     position: relative;
     top: 87px;
     margin-top: -80px;

	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition:: opacity 0.5s;
	}
	.buttonHover:hover {
		opacity: 1.0;
	}

 .buttonHover1  {
	opacity: 0.0;
     position: relative;
     top: 92px;
     margin-top: -80px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition:: opacity 0.5s;
	}
	.buttonHover1:hover {
		opacity: 1.0;
	}
	

.layerBox {
      background-color: skyblue;
    background-color:#0f537a; 
    width:150px;
    height: 1021px;
    padding: 10px;
    margin-left: 1270px;
    margin-top:-1043px;
    position: absolute;
    text-align: center;
}


.footer {
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    
}


