body {
    
 background-color: aliceblue;
}



#container {
    margin: 25 px;
    background-color: antiquewhite;
 
    
    
}

.header {
    border color: aliceblue;
    padding: 5px; 
 background-color:dimgrey;   
}
#headColor {
color: aliceblue;
}
.menuBar {
    background-color: skyblue;
    width:150px;
    padding: 15px;
    text-align: center;

}
